fastapi
uvicorn
gunicorn
python-multipart
pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
requests
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
chromadb
pypdf
duckduckgo-search
pydantic
reportlab
